<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Frontend</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div id="hamburgerOverlay" class="overlay">
        <div class="d-flex flex-column" id="menuContainer"><span style="font-size: 48px;margin-bottom: 50px;">Bookcase</span><span style="font-size: 36px;">Books</span><span style="font-size: 36px;">Authors</span><span style="font-size: 36px;">Search</span><span style="font-size: 36px;margin-top: 150px;">Account</span></div>
        <button
            class="btn btn-info exitButton" type="button">X</button>
    </div>
    <div class="row" id="headerRow">
        <div class="col d-flex"><button class="btn btn-primary" id="hamburger" type="button">Hamburger</button><span class="pageName" style="font-size: 48px;">Books</span></div>
    </div>
    <div class="row" id="rowBody">
        <div class="col">
            <div class="d-flex flex-column textContainer" style="padding: 50px;">
                <div class="d-flex flex-row bookObject" style="margin-top: 50px;">
                    <div class="d-inline"><span class="bookName">Book</span></div>
                    <div class="d-flex flex-column"><span class="d-inline-block authorName">Author Name</span><span class="d-inline-block summaryContainer">Summary</span></div>
                </div>
                <div class="d-flex flex-row bookObject" style="margin-top: 50px;">
                    <div class="d-inline"><span class="bookName">Book</span></div>
                    <div class="d-flex flex-column"><span class="d-inline-block authorName">Author Name</span><span class="d-inline-block summaryContainer">Summary</span></div>
                </div>
                <div class="d-flex flex-row bookObject" style="margin-top: 50px;">
                    <div class="d-inline"><span class="bookName">Book</span></div>
                    <div class="d-flex flex-column"><span class="d-inline-block authorName">Author Name</span><span class="d-inline-block summaryContainer">Summary</span></div>
                </div>
                <div class="d-flex flex-row bookObject" style="margin-top: 50px;">
                    <div class="d-inline"><span class="bookName">Book</span></div>
                    <div class="d-flex flex-column"><span class="d-inline-block authorName">Author Name</span><span class="d-inline-block summaryContainer">Summary</span></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="imageContainer"></div>
        </div>
        <div class="col">
            <div class="d-flex flex-column textContainer" style="padding: 50px;">
                <div class="d-flex flex-row bookObject" style="margin-top: 50px;">
                    <div class="d-inline"><span class="bookName">Book</span></div>
                    <div class="d-flex flex-column"><span class="d-inline-block authorName">Author Name</span><span class="d-inline-block summaryContainer">Summary</span></div>
                </div>
                <div class="d-flex flex-row bookObject" style="margin-top: 50px;">
                    <div class="d-inline"><span class="bookName">Book</span></div>
                    <div class="d-flex flex-column"><span class="d-inline-block authorName">Author Name</span><span class="d-inline-block summaryContainer">Summary</span></div>
                </div>
                <div class="d-flex flex-row bookObject" style="margin-top: 50px;">
                    <div class="d-inline"><span class="bookName">Book</span></div>
                    <div class="d-flex flex-column"><span class="d-inline-block authorName">Author Name</span><span class="d-inline-block summaryContainer">Summary</span></div>
                </div>
                <div class="d-flex flex-row bookObject" style="margin-top: 50px;">
                    <div class="d-inline"><span class="bookName">Book</span></div>
                    <div class="d-flex flex-column"><span class="d-inline-block authorName">Author Name</span><span class="d-inline-block summaryContainer">Summary</span></div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>