<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Frontend</title>
    <link rel="stylesheet" href="../catalog/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../catalog/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../catalog/static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../catalog/static/css/Search-Field-With-Icon.css">
    <link rel="stylesheet" href="../catalog/static/css/styles.css">
</head>

<body>
    <div id="background">
        <div id="container" style="padding: 100px;">
            <header class="d-flex flex-column align-content-center">
                <span id="title" style="font-size: 48px;margin-bottom: 45px;margin-top: 28px;">Bookhouse</span>
                <a href="#" style="font-size: 36px;">Books</a>
                <a href="#" style="font-size: 36px;">Authors</a>
                <a href="#" style="font-size: 36px;">Search</a>
                <a href="#" style="font-size: 36px;margin-top: 150px;">Account</a>
            </header>
        </div>
    </div>
    <script src="../catalog/static/js/jquery.min.js"></script>
    <script src="../catalog/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

<!-- {% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
{% endblock %} -->