{% extends "base_generic.html" %}
{% block content %}
{% load static %}
    <section class="page-section about-heading">
        <div class="container">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4"><span class="text-center section-heading-upper mb-5" style="font-size: 30px;">System Logs</span></h2>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Content Type</th>
                                            <th>User</th>
                                            <th>Action Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% if book_list %}
                                      <ul class="list-unstyled mx-auto list-hours mb-5 text-left">
                                          {% for book in book_list %}
                                          <tr>
                                            <td>Added &quot;Managers&quot;</td>
                                            <td>auth | group</td>
                                            <td>admin</td>
                                            <td>April 29, 2020, 2:29pm</td>
                                            <li class="d-flex list-unstyled-item list-hours-item"><a href="{{ book.get_absolute_url }}">{{ book.name }}</a><span class="ml-auto">by {{ book.author.first_name }}&nbsp;{{ book.author.last_name }}</span></li>
                                          </tr>
                                          {% endfor %}
                                      </ul>
                                      {% else %}
                                      <p>There are no books in the library.</p>
                                      {% endif %}       
                                        <tr>
                                            <td>Added &quot;Managers&quot;</td>
                                            <td>auth | group</td>
                                            <td>admin</td>
                                            <td>April 29, 2020, 2:29pm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;Coronia Garay Ngo</p>
        </div>
    </footer>
    <script src="../catalog/static/js/jquery.min.js"></script>
    <script src="../catalog/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../catalog/static/js/current-day.js"></script>
</body>

</html>