<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Digital Library</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
      
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/Search-Field-With-Icon.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script src="{% static 'js/jquery.min.js' %"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %"></script>
      <script src="{% static 'js/current-day.js' %"></script>
  </head>
  <body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../catalog/static/img/bg.jpg');">
      {% block header %}{% endblock}
      
      <nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav">
          <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Digital Library</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div
                  class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="nav navbar-nav mx-auto">
                      <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="Books.html">Books</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="Authors.html">Authors</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="Account.html">Account</a></li>
                  </ul>
          </div>
          </div>
      </nav>
      {% block content %}{% endblock %}
  </body>
  <footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Copyright&nbsp;©&nbsp;Coronia Garay Ngo</p>
    </div>
  </footer>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'books' %}">All books</a></li>
          <li><a href="">All authors</a></li>

          {% if user.is_authenticated %}
          <li>User: {{ user.get_username }}</li>
          <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
          {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
          {% endif %} 
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
      {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 
    </div>
  </div>
</body>
</html> -->