<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Digital Library</title>
    <link rel="stylesheet" href="../catalog/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
    <link rel="stylesheet" href="../catalog/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../catalog/static/css/Search-Field-With-Icon.css">
    <link rel="stylesheet" href="../catalog/static/css/style.css">
</head>

<body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../catalog/static/img/bg.jpg');">
    <nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav">
        <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Digital Library</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'books' %}">Books</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Authors</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'index' %}">Account</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-5"><span class="section-heading-upper">Check our collection</span><span class="section-heading-lower">Authors</span></h2>
                        {% if author_list %}
                        <ul class="list-unstyled mx-auto list-hours mb-5 text-left">
                            {% for author in author_list %}
                            <li class="d-flex list-unstyled-item list-hours-item">
                                <a href="{{ book.get_absolute_url }}">{{ author.last_name }}</a>, <span class="ml-auto">{{author.first_name}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>There are no authors registered in the library.</p>
                        {% endif %} 

                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#add-modal">Add More Authors</button></div>
                </div>
            </div>
        </div>
    {% block content %}
    <form action="" method="post">
    {% csrf_token %}
        <div class="modal fade" role="dialog" tabindex="-1" id="add-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Author</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body d-flex flex-grow-1">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                {{ form.as_table }}
                                <!-- ****SOMETHING IS MISSING -> STILL LOOKING FOR IT ***** -->
                                <!-- <tbody>
                                    <tr>
                                        <td>First Name</td>
                                        <td><input type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Last Name</td>
                                        <td><input type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Photo</td>
                                        <td><input type="file"></td>
                                    </tr>
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">Save</button></div>
                </div>
            </div>
        </div>
    </form>
        {% endblock %}
    </section>
    <section class="page-section about-heading">
        <div class="container"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../catalog/static/img/about.jpg">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4"><span class="section-heading-upper">Want Someone Specific?</span><span class="section-heading-lower">&nbsp;Search them</span></h2>
                            <div class="search-container"><input type="text" class="search-input" name="search-bar" placeholder="Search..."><button class="btn btn-light search-btn" type="button"> <i class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;Coronia Garay Ngo</p>
        </div>
    </footer>
    <script src="../catalog/static/js/jquery.min.js"></script>
    <script src="../catalog/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../catalog/static/js/current-day.js"></script>

</body>

</html>