<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Digital Library</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
      
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/Search-Field-With-Icon.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/current-day.js' %}"></script>
  </head>
  <body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('{% static 'img/bg.jpg' %}')">
      {% block header %}{% endblock %}
      
      <nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav">
          <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Digital Library</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div
                  class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="nav navbar-nav mx-auto">
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'book-list' %}">Books</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="#">Authors</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'profile' %}">Account</a></li>
                  </ul>
          </div>
          </div>
      </nav>
      {% block content %}{% endblock %}
  </body>
  <footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Copyright&nbsp;©&nbsp;Coronia Garay Ngo</p>
    </div>
  </footer>
</html>