{% extends "base_generic.html" %}
{% block content %}
{% load static %}
{% load has_group %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5"><span class="section-heading-upper">Check our collection</span><span class="section-heading-lower">Books</span></h2>
                    
                    {% if book_list %}
                    <ul class="list-unstyled mx-auto list-hours mb-5 text-left">
                        {% for book in book_list %}
                        <li class="d-flex list-unstyled-item list-hours-item"><a href="{{ book.get_absolute_url }}">{{ book.name }}</a><span class="ml-auto">by {{ book.author.first_name }}&nbsp;{{ book.author.last_name }}</span></li>
                        {% endfor %}
                        <!-- <li class="d-flex list-unstyled-item list-hours-item"><a href="Book.html"> Book </a><span class="ml-auto">By Author</span></li>
                        <li class="d-flex list-unstyled-item list-hours-item"><a href="Book.html"> Book </a><span class="ml-auto">By Author</span></li>
                        <li class="d-flex list-unstyled-item list-hours-item"><a href="Book.html"> Book </a><span class="ml-auto">By Author</span></li>
                        <li class="d-flex list-unstyled-item list-hours-item"><a href="Book.html"> Book </a><span class="ml-auto">By Author</span></li>
                        <li class="d-flex list-unstyled-item list-hours-item"><a href="Book.html"> Book </a><span class="ml-auto">By Author</span></li> -->
                    </ul>
                    {% else %}
                    <p>There are no books in the library.</p>
                    {% endif %}       
                    
                    {% if user|has_group:"Managers" %}
                    <form action="{% url 'addBook' %}" method="GET">
                        <button class="btn btn-primary" type="submit">Add More Books</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
</section>
<section class="page-section about-heading">
    <div class="container"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/about.jpg' %}">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Want something Specific?</span><span class="section-heading-lower">&nbsp;Filter your results</span></h2>
                        <div class="search-container"><input type="text" class="search-input" name="search-bar" placeholder="Search..."><button class="btn btn-light search-btn" type="button"> <i class="fa fa-search"></i></button></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Available</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Borrowed</label></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Due for Return</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}