asgiref==3.2.10
attrs==19.1.0
bcrypt==3.1.7
bokeh==1.3.4
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
Click==7.0
community==1.0.0b1
cycler==0.10.0
decorator==4.4.0
Django==3.1.1
django-axes==5.6.2
django-ipware==3.0.1
django-reset-migrations==0.4.0
djangorestframework==3.11.1
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-MySQLdb==0.2.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mpmath==1.1.0
mysql-connector-python==8.0.17
mysqlclient==1.4.6
networkx==2.3
numpy==1.17.2
packaging==19.1
pandas==0.25.1
Pillow==6.1.0
pipenv==2018.11.26
powerlaw==1.4.6
pycparser==2.20
pydot==1.4.1
pyparsing==2.4.2
python-dateutil==2.8.0
python-louvain==0.13
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
scipy==1.3.1
six==1.12.0
sqlparse==0.3.1
tornado==6.0.3
tqdm==4.35.0
urllib3==1.25.3
virtualenv==16.7.9
virtualenv-clone==0.5.3
Werkzeug==0.15.6
